.dashboard_activity{
  display: flex;
  justify-content: center;
  // background-color: pink;
  width: 100%;

  // .ui .card>.content>.header {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  // }
.thumbnail {
      width: 500px;
  }

  .activity_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 450;
  }
  
  .content time {
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    color: rgba(0,0,0,.4);
  }

  .content .summary p {
    display: flex;

    .money_green {
    color: green;
    margin-left: 5px;
    }

    .money_red {
    color: red;
    margin-left: 5px;
    }
  }

  .activiy_owe_name {
    margin-left: 5px;
  }

  .label {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  margin-top: 20px;
  //   position: absolute;
  // top: 50%;
  // height: 50px;
  // margin-top: -50px
  }

  .owe {
    margin-left: 5px;
  }
  .settle_up {
    margin-right: 5px;
  }


}

div .ui .divider {
  margin-top: 0;
  margin-bottom: 0;

}