.ui.cards.dashboard_summary {

  .ui .right .floated .image {
    margin-bottom: 0;
    margin-left: 0;
  }

  .content .description p {
    display: flex;
    font-weight: 450;

    .money_green {
    color: green;
    margin-left: 5px;
    }

    .money_red {
    color: red;
    margin-left: 5px;
    }
  }
}

#summary_profile {
  margin: 0;
}

