// COLORS
$col-sean-purple: #A17DED;
$col-sean-red: #E97272;
$col-sean-lavender: #BBAABB;
$sean-theme-background: #E8F0FF;
// $col-orange: #ea9010;
// $col-pink: #ef476f;

// // TYPOGRAPHY
// $font-headings: "Fredoka One", cursive;
// $font-body: "Roboto", sans-serif;

// // LAYOUT

// $height-nav: 12vh;


// #F7B538 - yellow colour
//  #CDD7D6 - background colour