// COLOURS SEAN
$col-sean-purple: #6874E8;
$col-sean-red: #DA4167;
$sean-theme-background: rgb(235, 235, 235);

// COLOURS CHRIS



// $sean-theme-background: #E8F0FF;
// $col-orange: #ea9010;
// $col-pink: #ef476f;




// // TYPOGRAPHY
// $font-headings: "Fredoka One", cursive;
// $font-body: "Roboto", sans-serif;

// // LAYOUT

// $height-nav: 12vh;


// #F7B538 - yellow colour
//  #CDD7D6 - background colour