
.content .header .card_settle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .card_settle_aside {
    display: flex;
    flex-direction: column;

    p {
      font-weight: 400;
    }
  }

  .money_green {
  color: green;
  margin-left: 5px;
  }

  .money_red {
  color: red;
  margin-left: 5px;
  }

  .button {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .button_notify {
    margin-top: 34px;
  }

  .button_settle {
    margin-top: 34px;
  }
}