// .ui .cards .settlement {
//   .content .button .button_split {
//     width: 5 rem;
//   }
// }
.content .header p {
.money_green {
  color: green;
  margin-left: 5px;
  }

  .money_red {
  color: red;
  margin-left: 5px;
  }
}