@import '../sass/_variables';


#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
  height: 100%;
  background-color: $sean-theme-background;

  main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
      position: fixed; /* or absolute */
      top: 25%;
      left: 50%;
      // margin-top: -50px;
      margin-left: -75px;
    }

  }
}
