@import '../sass/_variables';


#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
  height: 100%;
  background-color: $sean-theme-background;

  main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
      position: fixed; /* or absolute */
      top: 25%;
      left: 50%;
      // margin-top: -50px;
      margin-left: -75px;
      // background-color: blue;
      // border: 10px black;
      // TEMPORARY CHANGE FOR TESTING
      -webkit-filter: drop-shadow(1px 1px 0 $col-sean-red)
                  drop-shadow(-1px -1px 0 $col-sean-red);
      filter: drop-shadow(1px 1px 0 $col-sean-red) 
          drop-shadow(-1px -1px 0 $col-sean-red);
    }

  }
}