.auth_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  text-align: center;
  color: white;



  
  .auth_bar_login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6874E8;
    height: 4rem;
    font-size: 200%;
    font-weight: 500%;

    
  }

  .auth_bar_register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DA4167;
    height: 4rem;
    font-size: 200%;
    font-weight: 500%;
  }
}