@import '../sass/_variables';

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;


  .button {
    border-radius: 3px;
    color: #ffffff;
    width: 75px;
  }
  
  .button_login {
    background-color: $col-sean-red;
  }

  // .button .button_register
  .button_register {
    background-color: $col-sean-purple;
  }

  .button_back {
    background-color: #93C193
  }
  
}