.user_profile {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

//   .profile_pic {
//     // border-radius: 50%;
//   }
}

// #camera_icon {
//   position: absolute;
//   top: 0;
// }

