.user_profile {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile_pic {
    border-radius: 50%;
  }
}

#camera_icon .camera .retro .icon {
  position: absolute;
  margin: 0 10rem 14rem 0; 
}

