.popup {

  position: absolute;
  border-radius: 40px;
  // border-color: darken( #93C193, 100%);
  border: 2.5px solid darkseagreen;
  // darken($sean-theme-background, 100%)
  // background:rgb(173, 207, 173);
  background: #FCFFF5;
  
  color: darken(darkseagreen, 35%);
  opacity: 0.2;
  z-index: 1000;
  //right: 200px;
  bottom: 3rem;
  // margin: auto;
  text-align: center;
  width: 50%;
  padding: 0.4em 0.4em;
  margin: 0 25% 0 25%;
  font-size: medium;
  font-weight: 600;

}

.popup_red {
  border: 2.5px solid #D8000C;
  color: darken(#D8000C, 10%);
}