// #modal_test .status {
//   position: absolute;
//   top: 0;
//   height: 200px;
//   width: 200 px;
// }

// .ui .page .modals .dimmer .transition .visible .active {
//   position: absolute;
//   top: 0;
//   height: 200px;
//   width: 200 px;
// }



.popup {

  position: absolute;
  border-radius: 40px;
  // border-color: darken( #93C193, 100%);
  border: 2.5px solid darkseagreen;
  // darken($sean-theme-background, 100%)
  // background:rgb(173, 207, 173);
  background: #FCFFF5;
  
  color: darken(darkseagreen, 35%);
  opacity: 0.2;
  z-index: 1000;
  //right: 200px;
  bottom: 3rem;
  // margin: auto;
  text-align: center;
  width: 50%;
  padding: 0.4em 0;
  margin: 0 25% 0 25%;
  font-size: medium;

  // .ui .message {
  // .popup_message {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   background-color: grey;

  // }

  // }
}